.about {
  width: 100%;
}

.aboutTop {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 650px) {
  .aboutTop {
    height: 60vh;
  }
}